@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Clash Display", "sans-serif";

    --color-aqua-blue: #03fffd;
    --color-lime-green: #c1ff72;
    --color-deep-blue: #0059ff;

    --color-dark: #0b2145;

    --color-blue-500: #1362d8;
    --color-dark-blue-900: #070C2A;
    --color-violet-500: #a766e9;

    --blur-4xl: 80px;

    --animate-spin: spin 10s linear infinite;

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}

body {
    font-family: var(--font-display);
    background-color: #070C2A;
}

#root {
    @apply xl:h-screen;
}